body {
    min-height: 100vh;
}
header {
    background: lightskyblue;
    padding-top: 15px;
    padding-bottom: 15px;
    color: rebeccapurple;
}

#brand {
    font-size: 32px;
}

.footer {
    height: 45px;
    border-top: 2px solid mediumaquamarine;
}
.footer-p-custom {
    color: grey;
    font-size: 11px;
    line-height: 15px;
    padding-top: 8px;
}

.list-group-item {
    padding: 22px;
}

.containerBody{
    background-color: #dcf0ff;
    margin : 0 auto;
    border : 1px solid #333;
    padding : 25px;
    width:75%;
    border-radius: 15px;

}

h2.title2 {

    color: darkslategrey;
    font-style: oblique;
    text-align: center;
    padding-bottom: 20px;
}

#rightText {
    float: right;
    color: black;
}