body {
    min-height: 100vh;
}
header {
    background: deepskyblue;
    padding-top: 10px;
    padding-bottom: 10px;

    border-bottom: 1px solid #333;
}

#brand {
    font-size: 32px;
}

.footer {
    height: 45px;
    border-top: 2px solid mediumaquamarine;
}
.footer-p-custom {
    color: grey;
    font-size: 11px;
    line-height: 15px;
    padding-top: 8px;
}

.list-group-item {
    padding: 22px;
}

.containerBody{
    background-color: #dcf0ff;
    margin : 0 auto;
    border : 1px solid #333;
    padding : 15px;
    width:75%;
    border-radius: 15px;

}

h2.title2 {

    color: darkslategrey;
    font-style: oblique;
    text-align: center;
    padding-bottom: 20px;
}

#rightText {
    float: right;
    color: black;
}

.dropbtn {
    background-color: #28a745;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    padding: 20px;
    margin : 0 auto;
    margin-right : 50px;
    border : 1px solid #333;
    border-radius: 15px;
}



.dropdown-content {
    background-color: limegreen;
    display: none;
    position: absolute;
    min-width: 160px;
    border : 1px solid #333;
    border-radius: 15px;
   
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding-right: px;
    display: block;
    text-align: center;
    position: relative;
    z-index: 1;
}

.dropdown-content a:hover {
    background-color: darkblue;
    color: white;

}

.dropdown:hover .dropdown-content {
    display: block;
}

#companyName{
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 20px;
    text-decoration: none;

}