{{>header}}

<div class="container col-8 offset-2">
    <h4 class="font-weight-bold text-success">Create a milestone</h4>
    <hr/>

    <form method="POST" action="/milestones/create">
        <div class="form-group">
            <label for="title">Title</label>
            <input name="title" id="title" type="text" class="form-control"/>
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <textarea name="description" id="description" type="text" class="form-control"></textarea>
        </div>

        <div class="form-group">
            <label for="intended-date">Intended due date</label>
            <input name="intended-date" id="intended-date" type="text" class="form-control"/>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{{>footer}}