
<footer class="footer mt-auto bg-dark">
    <div class="container text-center">
        <p class="footer-p-custom">
            Lyle Simpson | Dave Sumpster | Abdul Dar<br/>
            2018
        </p>
    </div>
</footer>

<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.ui.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/ajax.js"></script>
<script src="/js/validators.js"></script>
</body>
</html>