<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Milestone Planner</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
</head>
<body>
<div class="container">
    <header class="mb-4 mt-1 d-flex justify-content-between">
        <h1 class="h1 lead pl-2" id="brand">
            <a href="/">Milestone Planner</a>
        </h1>
        <div class="nav mb-4 mt-2">
            <a href="/login" class="px-2">Login</a>
            <a href="/register" class="px-2">Register</a>
        </div>
    </header>