{{>header}}

<div class="containerBody col-8 offset-2">
    <h4 class="text-success font-weight-bold">Welcome to the Milestone Planner Application</h4>
    <hr/>
    <ul>
        <li>
            <a href="/milestones">View milestones</a>
        </li>
        <li>
            <a href="/milestones/create">Create a milestone</a>
        </li>
        <li>
            <a href="/login">Login</a> or <a href="/register">register</a>
        </li>
    </ul>
</div>



{{>footer}}