{{>header}}

<div class="containerBody col-8 offset-2">
    <h3 class="text-success font-weight-bold">Welcome to the Milestone Planner Application</h3>
    {{#loggedin}}
        <h5 class="text-success">Welcome, <strong>{{user.username}}!</strong></h5>
    {{/loggedin}}
    {{^loggedin}}
        <h5 class="title2"><a href="/login">Login</a> or <a href="/register">register</a> to save your milestones & unlock all features!</h5>
    {{/loggedin}}
    <hr/>

    <div id="rightText">
   <h5> <u>Check these freebies out below!</u><h5>

    <ul>
        <i><li>
            <a href="/milestones">View milestones</a>
        </li>
        <li>
            <a href="/milestones/create">Create a milestone</a>
        </li>
            {{^loggedin}}
        <li>
            <a href="/login">Login</a> or <a href="/register">register</a>
        </li>
            {{/loggedin}}
            {{#isadmin}}
                <li>
                    <a href="/admin">Admin page</a>
                </li>
            {{/isadmin}}
        </i>
    </ul>
</div>
        <ul>
            <h5><u>Account Features</u></h5>

            <i> <li>Create and Save all your milestones </li>
                <li>Edit Milestones on the go from any device</li>
                <li>Share Milestones with friends</li>
                <li>Unlock all utilities</li></i>

        </ul>

</div>



{{>footer}}