{{>header}}
<div class="container col-8 offset-2">
    <h4 class="text-success mb-2 font-weight-bold">{{milestone.title}}</h4>
    <hr/>
    <div class="body-content">
        <p>This milestone has the title, {{milestone.title}}</p>
        <p>Description: {{milestone.description}}</p>
        <p>Intended due date: {{ milestone.intendedDueDate }}</p>
    </div>

</div>
{{>footer}}