{{>header}}
<div class="containerBody col-8 offset-2">

    <div class="main-content mb-3 border-bottom">
        <div class="d-flex justify-content-between">
            <h4 class="text-success mb-0 font-weight-bold">{{milestone.title}}</h4>
            <div class="d-flex justify-content-between">
                {{#editable}}
                    <button class="btn btn-primary btn-sm mr-1" type="button" data-toggle="modal" data-target="#edit-milestone-modal">
                        Edit milestone
                    </button>
                    <button class="btn btn-danger btn-sm" type="button" data-toggle="modal" data-target="#delete-milestone-modal">
                        Delete milestone
                    </button>
                {{/editable}}
            </div>
        </div>
        <hr/>
        <div class="body-content">
            {{#redir}}
                <div class="alert alert-success" role="alert">
                    {{msg}}
                </div>
            {{/redir}}
            <p>This milestone was created by {{milestone.user.username}}.
                {{#public}}This milestone is available to any user in the system{{/public}}
                {{^public}}This milestone is private and cannot be seen by other users{{/public}}
            </p>
            <p>Title: {{milestone.title}}</p>
            <p>Description: {{milestone.description}}</p>
            <p>Intended due date: {{ milestone.intendedDueDate }}</p>
            {{#hasCompletionDate}}
                <p>Actual due date: {{milestone.actualCompletionDate}}</p>
            {{/hasCompletionDate}}
            {{^hasCompletionDate}}
                <p>No completion date set. Click <a href="#" data-toggle="modal" data-target="#edit-milestone-modal">here</a> to add</p>
            {{/hasCompletionDate}}

        </div>
    </div>
    <p>Click <a href="/milestones">here</a> to return to the milestone list.</p>
</div>

<!-- Edit Milestone Modal -->
<div class="modal" id="edit-milestone-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Milestone</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="edit-milestone-form" method="post" action="/milestones/{{milestone.id}}/edit">
                    <input type="hidden" name="id" id="milestone-id" value="{{milestone.id}}"/>
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input name="title" id="title" type="text"
                               class="form-control" data-title="{{milestone.title}}" required />
                        <span class="text-danger errors mt-2"></span>
                    </div>

                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea name="description" id="description"
                                  data-description="{{milestone.description}}" class="form-control" required></textarea>
                        <span class="text-danger errors mt-2"></span>
                    </div>

                    <div class="form-group">
                        <label for="intended-date">Intended due date</label>
                        <input name="intended-date" id="intended-date" type="text"
                               data-intended="{{milestone.intendedDueDate}}" class="form-control" required/>
                        <span class="text-danger errors"></span>
                    </div>

                    {{#hasCompletionDate}}
                        <div class="form-group">
                            <label for="actual-date">Actual completion date</label>
                            <input name="actual-date" id="actual-date" type="text"
                                   data-actual="{{milestone.actualCompletionDate}}" class="form-control"/>
                            <span class="text-danger errors"></span>
                        </div>
                    {{/hasCompletionDate}}

                    {{^hasCompletionDate}}
                        <div class="form-group">
                            <label for="actual-date">Set completion date (optional)</label>
                            <input name="actual-date" id="actual-date" type="text" class="form-control"/>
                            <span class="text-danger errors"></span>
                        </div>
                    {{/hasCompletionDate}}
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </form>
        </div>
    </div>
</div>

<!-- Delete milestone modal -->
<div class="modal" id="delete-milestone-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Milestone</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you wish to delete Milestone, '{{milestone.title}}'?</p>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="confirm-delete">Confirm</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
{{>footer}}