{{>header}}
    <div class="containerBody col-8 offset-2">
        <h4 class="text-success font-weight-bold mb-2">Milestone List</h4>
        <hr/>
        <p>Milestones created by {{user.username}}</p>
        {{#hasMilestones}}
        <ul class="list-group">
            {{#milestones}}
                <li class="list-group-item list-group-item-action">
                    <a href="/milestones/{{id}}">
                        <strong>{{title}}</strong>
                    </a>
                    : {{description}}
                    <em class="float-right">{{intendedDueDate}}</em>
                </li>
            {{/milestones}}
        </ul>
    {{/hasMilestones}}

        <!-- If user has no milestones -->
        {{^hasMilestones}}
            <p>You currently have no milestones within the system. Click <a href="/milestones/create">here</a> to add one!</p>
        {{/hasMilestones}}

        <hr/>

        {{#hasShared}}
                <p class="text-success">Shared Milestones</p>
            <ul class="list-group">
                {{#shared}}
                    <li class="list-group-item list-group-item-action">
                        <a href="/milestones/{{id}}">
                            <strong>{{title}}</strong>
                        </a>
                        : {{description}}
                        <em class="float-right">{{intendedDueDate}}</em>
                    </li>
                {{/shared}}
            </ul>
        {{/hasShared}}

        {{^hasShared}}
            <p class="text-success">No shared milestones.</p>
        {{/hasShared}}
    </div>
{{>footer}}