{{>header}}

<div class="container col-6 offset-3 mb-4">

    <p class="lead mb-3">Please complete the form below to register:</p>
    <hr class="bg-success"/>

    {{#redir}}
    <div class="alert alert-danger" role="alert">
            {{err}}
    </div>
    {{/redir}}

    <form action="/register" method="POST" id="register-form">

        <div class="form-group">
            <label class="form-control-label">Username</label>
            <input type="text" name="username" id="username" class="form-control" required/>
            <span class="text-danger errors mt-2"></span>
        </div>

        <div class="form-group">
            <label class="form-control-label">Password</label>
            <input type="password" name="password" id="password" class="form-control" required/>
            <span class="text-danger errors mt-2"></span>
        </div>
        <div class="form-group">
            <label class="form-control-label">Confirm Password</label>
            <input type="password" name="password_confirm" id="password_confirm" class="form-control" required/>
            <span class="text-danger errors mt-2"></span>
        </div>

        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>

{{>footer}}